@media screen and (max-width: 1206px) {
  .about__container {
    gap: 50px;
    align-items: center;
  }
}

@media screen and (max-width: 1098px) {
  .about__container {
    flex-direction: column;
  }
  .about__wrapper {
    gap: 30px;
  }
  .about__right {
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  .nav ul {
    display: none;
  }

  .header__hamburger {
    display: block;
    cursor: pointer;
    right: 20px;
    top: 10px;
  }

  .header__hamburger span {
    height: 3px;
    background: linear-gradient(90deg, #1cc4cc 0%, #0181cb 100%);

    margin: 6px 0;
    width: 100%;
    display: block;
    border-radius: 3px;
  }
}

@media screen and (max-width: 668px) {
  .header__content-left h1 {
    min-height: 140px;
  }
}
@media screen and (max-width: 550px) {
  .about__wrapper {
    grid-template-columns: 1fr;
  }
  .about__item {
    padding: 20px 20px;
    text-align: center;
    align-items: center;
    display: block;
    width: 100%;
  }
  .steps__title {
    font-size: var(--fz-26);
  }
}
@media screen and (max-width: 458px) {
  .container {
    padding: 0 15px;
  }
  .header__content {
    margin-top: 200px;
  }
  .header__content-left h1 {
    font-size: var(--fz-40);
  }
  .header__content-left p {
    font-size: var(--fz-20);
  }
}
@media screen and (max-width: 375px) {
  .header__content {
    margin-top: 100px;
  }
  .about__title {
    font-size: var(--fz-40);
  }
}
@media screen and (max-width: 320px) {
  .header__content-left h1 {
    font-size: var(--fz-35);
  }
  .header__content-left p {
    font-size: var(--fz-18);
  }
}
