@media screen and (max-width: 768px) {
  .nav ul {
    display: none;
  }

  .header__hamburger {
    display: block;
    cursor: pointer;
  }

  .header__hamburger span {
    height: 3px;
    background: linear-gradient(90deg, #1cc4cc 0%, #0181cb 100%);

    margin: 6px 0;
    width: 100%;
    display: block;
    border-radius: 3px;
  }
}

@media screen and (max-width: 668px) {
  .header__content-left h1 {
    min-height: 140px;
  }
}
@media screen and (max-width: 458px) {
  .container {
    padding: 0 15px;
  }
  .header__content {
    margin-top: 200px;
  }
  .header__content-left h1 {
    font-size: var(--fz-40);
  }
  .header__content-left p {
    font-size: var(--fz-20);
  }
}
@media screen and (max-width: 375px) {
  .header__content {
    margin-top: 100px;
  }
}
@media screen and (max-width: 320px) {
  .header__content-left h1 {
    font-size: var(--fz-35);
  }
  .header__content-left p {
    font-size: var(--fz-18);
  }
}
