@media screen and (max-width: 768px) {
  .nav ul {
    display: none;
  }

  .header__hamburger {
    display: block;
    cursor: pointer;
  }

  /* Покажи бургер-полоски */
  .header__hamburger span {
    height: 3px;
    background: linear-gradient(90deg, #1cc4cc 0%, #0181cb 100%);

    margin: 6px 0;
    width: 100%;
    display: block;
    border-radius: 3px;
  }
}
